h2 {color:red; background:greenyellow;}
#a1{color:blue; background:red; font-size: 150px; font-weight:bold;}
.a2{color:purple; background:skyblue;font-size: small; font-weight: strong;}
p {color:green; background:yellow;} 
